.form {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.form input[type='number'] {
  width: 360px;
  margin-top: 8px;
  height: 40px;
  border: 2px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}
.form input[type='number']:hover {
  border: 2px solid #000000;
}
.form input[type='number']:focus {
  border-color: #4e75ff;
  outline: none;
}
fieldset {
  padding: 18px 24px 8px;
  border: 2px solid #808080;
  border-radius: 4px;
}
fieldset:hover,
fieldset:has(input[type='radio']:checked) {
  border-color: #000000;
}

.form input[type='radio'] {
  width: 32px;
  margin-right: 4px;
  margin-left: 24px;
}
.form button {
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.form button:hover {
  cursor: pointer;
  background-color: #6c8cff;
}
