* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-input {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.search-input:hover {
  border-color: #000000;
}

.search-input:focus {
  border-color: #4e75ff;
}

.search-submit {
  border-radius: 8px;
  padding: 8px 16px;
  width: 100px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.search-submit:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.gallery-item {
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(160, 150, 150);
  box-shadow: #646060 0px 4px 12px 3px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-img {
  width: 100%;
  height: 100%;
}

.gallery-item:hover {
  transform: scale(1.04, 1.04);
}

.gallery-descrip {
  display: flex;
  gap: 4px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px;
}

.gallery-descrip li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  text-transform: capitalize;
  text-decoration: none;
}

.gallery-descrip span {
  font-size: 11px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #646060;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 100px;
  left: calc(50% - 24px);
  z-index: 10;
  box-shadow: rgba(224, 123, 123, 0.56) 0px 22px 70px 4px;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
